.Input {
  border-bottom: 2px solid;
  border-color: var(--border-color);
  color: var(--fg-color);
  font-weight: 500;
  padding: 8px 10px;
  transition: border 100ms;

  &:hover, &:focus {
    border-color: var(--secondary-color)
  }
}

textarea {
  resize: none;
  border-bottom: 2px solid;
  border-color: var(--border-color);
  color: var(--fg-color);
  font-weight: 500;
  padding: 8px 10px;
  height: 100px;
  transition: border 100ms;
}
textarea:focus {
  border-color: var(--secondary-color);
}
textarea:focus {
  border-color: var(--secondary-color);
}