.Input {
  border-bottom: 2px solid;
  border-color: var(--text-color);
  color: var(--text-color);
  font-weight: 500;
  padding: 8px 10px;
}

.Input:hover {
  border-color: var(--secondary-color)
}
.Input:focus  {
  border-color: var(--secondary-color)
}