@font-face {
  font-family: Ubuntu;
  src: url(/src/assets/fonts/Ubuntu/Ubuntu-Bold.ttf);
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: Ubuntu;
  src: url(/src/assets/fonts/Ubuntu/Ubuntu-Medium.ttf);
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: Ubuntu;
  src: url(/src/assets/fonts/Ubuntu/Ubuntu-Regular.ttf);
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: Ubuntu;
  src: url(/src/assets/fonts/Ubuntu/Ubuntu-Light.ttf);
  font-weight: 300;
  font-display: swap;
}
