:root {
  --bg-color: #111111;
  --bg-color-2: #161616;
  --border-color: #353535;
  --primary-color: #e63946;
  --secondary-color: #a8dadc;
  --fg-color: #c5cbc3;
  --fg-color-2: #f1faee;
  --white-color: #f1faee;
  --black-color: #111111;
}

.light {
  --bg-color: #eeeeee;
  --bg-color-2: #f8f8f8;
  --border-color: #949494;
  --primary-color: #d63636;
  --secondary-color: #285ac5;
  --fg-color: #1b1b1b;
  --fg-color-2: #0f0f0f;
}
