.Contact {
  width: 100%;
  background-color: var(--bg-color-2);
  display: flex;
  justify-content: center;
  align-items: center;

  &-content {
    justify-self: center;
    text-align: center;
  }

  &-title {
    font-size: clamp(2rem, 5vw, 3rem);
    font-weight: 700;
    margin-bottom: 50px;

    & span:nth-child(1) {
      color: var(--primary-color);
    }
    & span:nth-child(2) {
      color: var(--secondary-color);
    }
  }

  &-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    & .Button {
      width: 200px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.3rem;

      & i {
        color: var(--bg-color);
      }

      &:hover i {
        animation: rotate-send-icon 100ms both;
      }

      @keyframes rotate-send-icon {
        from {
          transform: rotate(0deg);
        }
        to {
          transform: rotate(45deg);
        }
      }
    }
  }

  &-formRow {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;

    & > * {
      width: 100%;
    }
  }

  &-socialIcons {
    display: flex;
    gap: 1rem;

    & a {
      font-size: 24px;
      &:hover {
        animation: rotate-icon 500ms both;
      }

      & i {
        will-change: filter;
        transition: filter 100ms;
        color: var(--fg-color);
      }

      &:nth-child(1) i:hover {
        color: #24c76d;
        filter: drop-shadow(0 0 0.5rem #24c76d);
      }
      &:nth-child(2) i:hover {
        color: #ec60ff;
        filter: drop-shadow(0 0 0.5rem #ec60ff);
      }
      &:nth-child(3) i:hover {
        color: #1b91ff;
        filter: drop-shadow(0 0 0.5rem #1b91ff);
      }
      &:nth-child(4) i:hover {
        color: #9aceff;
        filter: drop-shadow(0 0 0.5rem #9aceff);
      }

      @keyframes rotate-icon {
        from {
          transform: scale(1);
        }
        to {
          transform: scale(1.1);
        }
      }
    }
  }

  @media screen and (max-width: 630px) {
    &-formRow {
      flex-direction: column;
    }

    &-socialIcons {
      justify-content: center;
    }

    &-form &-formRow:nth-child(6) {
      flex-direction: column-reverse;
      gap: 3rem;
    }
  }
}
