.AboutMe {
  width: 100%;
  text-align: center;
  padding: 6.25rem 1rem;
}

.AboutMe-title {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 50px;
}

.AboutMe-title span {
  display: inline-block;
}

.AboutMe-title span::first-letter {
  color: var(--primary-color);
}

.AboutMe-content {
  max-width: 1000px;
  min-width: 200px;
  height: 100%;
  margin: 0 auto;
  background-color: var(--black-color-2);
  border: 2px dashed var(--primary-color);
  border-radius: 10px;
  overflow: hidden;
  display: flex;

  will-change: filter;
  transition: filter 100ms;
}
.AboutMe-content:hover {
  border: 2px solid var(--primary-color);
  filter: drop-shadow(0 0 .5rem var(--primary-color))
}

.AboutMe-left {
  background-color: var(--primary-color);
  width: 30%;
}

.AboutMe-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.AboutMe-right {
  text-align: left;
  padding: 2rem;
  width: 70%;
  display: flex;
  align-items: center;
}

.AboutMe-textContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.AboutMe-desc {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1rem;
}

.AboutMe-desc span {
  color: var(--text-color);
}

.AboutMe-techTitle {
  font-weight: 700;
}

.AboutMe-devIcons {
  display: flex;
  gap: 1rem;
}

.AboutMe-devIcons i {
  font-size: 40px;
  color: var(--text-color);
  will-change: filter;
  transition: filter 100ms;
}

.AboutMe-tooltip:nth-child(1) i:hover {
  color: #1b91ff;
  filter: drop-shadow(0 0 1rem #1b91ff);
}
.AboutMe-tooltip:nth-child(2) i:hover {
  color: #ec60ff;
  filter: drop-shadow(0 0 1rem #ec60ff);
}
.AboutMe-tooltip:nth-child(3) i:hover {
  color: #e9ec1c;
  filter: drop-shadow(0 0 1rem #e9ec1c);
}
.AboutMe-tooltip:nth-child(4) i:hover {
  color: #ab1bff;
  filter: drop-shadow(0 0 1rem #ab1bff);
}
.AboutMe-tooltip:nth-child(5) i:hover {
  color: #ff924a;
  filter: drop-shadow(0 0 1rem #ff924a);
}
.AboutMe-tooltip:nth-child(6) i:hover {
  color: #24c76d;
  filter: drop-shadow(0 0 1rem #24c76d);
}

.AboutMe-tooltip {
  position: relative;
  display: inline-block;
}
.AboutMe-tooltip span {
  font-weight: 500;
  opacity: 0;
  width: 90px;
  padding: .5rem 0;
  background-color: var(--white-color);
  color: var(--black-color);
  text-align: center;
  border-radius: 5px;
  position: absolute;
  z-index: 1;
  top: -110%;
  left: 50%;
  margin-left: -45px;

  transition: opacity 0.2s ease-in-out;
}
.AboutMe-tooltip:hover span {
  opacity: 1;
}

@media screen and (max-width: 630px) {

  .AboutMe {
    padding: 6.25rem 1.5rem;
  }

  .AboutMe-content {
    flex-direction: column;
  }

  .AboutMe-left {
    width: 100%;
  }

  .AboutMe-image {
    object-fit: cover;
  }

  .AboutMe-right {
    width: 100%;
    display: block;
  }

  .AboutMe-devIcons {
    flex-wrap: wrap;
  }
}